use flake

# Avoid command substitution in export for fish shell compatibility
if [ -f spago_sources.txt ]; then
  PURS_IDE_SOURCES="$(cat spago_sources.txt | tr '\n' ' ')"
  export PURS_IDE_SOURCES
fi
